img {
    width: 100%;
    min-width: 280px;
}


input {
    display: block;
    /* min-width: 280px; */
    width: 100px;
    border: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 3px;
    border-right-width: 3px; 
    border-color: grey;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #7DE38D;
    

  }
  
label, textarea, button.button {
    display: block;
    width: 100%;
  }
  
.container {
  background-color: white;
  color: #101010;
  font-size: 18pt;
  font-family: roboto, san-francisco;


}
  
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}
    
label.text {
    margin: 10px 10px 0 10px;
    font-family: roboto, san-francisco;
    font-size: 35pt;
    font-weight: bold;
    color: #F72585;
    border: 0;
    width: 80%;
    text-align: center;

}

.text {
    padding: 10px; 
    color: #101010;
    font-size: 12pt;
    font-weight: "bold";
    text-align: 'left';
    opacity: 0.8;
    min-width: 100%;
    font-family: roboto, san-francisco;
    margin: 5px 20px;
   
  }

  textarea {
    height: 100px;
    width: 280px;
    font-family: roboto;
    font-size: 12px;
    border: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 3px;
    border-right-width: 3px; 
    border-color: grey;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #7DE38D;
  }

  button.button {
    align-items: center;
    width: 320px;
    min-width: 80%;
    background-color: #7DE38D;
    color: #023047;
    align-self: center;
    box-shadow: 2px;
    padding: 10px 0;
    border: 0;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 2px lightgrey;
    font-family: roboto, san-francisco;
  }
